@import 'https://fonts.googleapis.com/css?family=Muli';

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.padding {
  padding: 48px 0;
}

.contenedor {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.button {
  border-radius: 8px;
  border: none;
  background: #ffd000;
  color: black;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

.header {
  box-shadow: 0 0 5px #888585;
  color: white;
  position: relative;
  padding: 10px 0;
}

.header .contenedor {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}

.logotipo {
  margin: 0;
}

.menu {
  display: flex;
  padding: 0 1em;
}

.menu li {
  margin-left: 20px;
  list-style: none;
  padding: 10px 0;
}

.menu li a {
  color: #e11379;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.menu a:hover:before {
  opacity: 1;
  width: 20%;
  transform: scaleX(3);
}

.menu a:before {
  opacity: 0;
  content: '';
  display: inline-block;
  height: 2px;
  width: 5%;
  bottom: -10%;
  left: 40%;
  position: absolute;
  background-color: #e11379;
  transition: .3s;
}

.menu-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #e11379;
  position: fixed;
  cursor: pointer;
  color: white;
  top: 15px;
  left: 15px;
  display: none;
  z-index: 3;
}

.background {
  display: flex;
  height: 600px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffce37+0,ff007d+100 */
  background: #ffce37; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffce37 0%, #ff007d 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffce37 0%,#ff007d 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffce37 0%,#ff007d 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.logo {
  margin: 0 auto;
  max-width: 302px;
}

.logo img {
  width: 100%;
}

.logotipo-img {
  text-align: center;
}

.titulo-a {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 0;
  margin-top: 20px;
}

.titulo-a p {
  margin: 0;
}

.titulo-a span {
  color: #FFD000;
}

.titulo {
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.titulo:after {
  content: '';
  display: block;
  line-height: 0;
  font-size: 1.2em;
  padding: 0px;
  margin: 5px auto;
  border: 2px solid;
  width: 40px;
}

.contacto .titulo.fucsia {
  background-color: #ff007d;
  color: #FFF;
  margin-bottom: 0;
}

.portafolio .titulo.fucsia:after, .acerca .titulo.fucsia:after {
  color: #ff007d;
}

.titulo.naranja:after {
  color: #f3723b;
}

.subtitulo {
  text-align: center;
  font-size: 23px;
  margin: 0;
  margin-bottom: 1em;
}

.acerca .contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto-perfil img {
  border-bottom: 3px solid #ff007d;
  padding: 4px;
  max-height: 300px;
}

.descripcion {
  max-width: 500px;
  padding: 0 1em;
}

.descripcion span {
  color: #e11379;
}

.descripcion p:first-child {
  margin-top: 0;
}

.descripcion p i {
  vertical-align: middle;
  font-size: .8em;
}

.descripcion p > a {
  font-size: .9em;
  color: #000;
}

.portafolio {
  padding-bottom: 24px;
}

.portafolio .contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 1em;
}

.portafolio .contenedor > p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
}

.portafolio .contenedor > p i {
  color: #000;
  font-size: .8em;
}

.portafolio-item {
  background-color: white;
  box-shadow: 0 0 10px #888585;
  margin-bottom: 2em;
  max-width: 450px;
}

.portafolio-item div:first-child {
  overflow: hidden;
}

.portafolio-item img {
  display: block;
  max-width: 100%;
  transition: .3s;
}

.portafolio-item:hover img {
  transform: scale(1.2);
}

.portafolio-caption {
  padding: 1em;
  position: relative;
}

.portafolio-caption * {
  margin: 0;
  text-align: center;
}

.portafolio-caption h3 {
  font-weight: bold;
  margin-bottom: .5em;
}

.portafolio-caption h4 {
  font-weight: normal;
}

.portafolio-caption p {
  text-align: justify;
  font-size: .9em;
}

.portafolio-item span {
  text-align: right;
  display: block;
}

.tag {
  position: absolute;
  top: -27px;
  right: 0px;
  font-size: .8em;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, .7);
  color: #FFF;
}

.marca-title {
  font-size: 20px;
  margin-bottom: .5em;
  text-align: center;
}

.background-gift {
  background-image: url('../images/gift-background.jpg');
  background-size: cover;
  /*height: 500px*/
}

.marca-item {
  padding: 5%;
  max-width: 500px;
}

.marca-item .icons-redes i {
  border: 2px solid #551a8b;
  border-radius: 50%;
  color: #551a8b;
  height: 20px;
  padding: 8px;
  width: 20px;
  font-size: 25px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  transition: .3s;
}

.marca-item .icons-redes i:hover {
  background-color: #551a8b;
  color: #FFF;
}

.marca-item h4 {
  font-style: italic;
  margin-top: 0;
  text-align: center;
}
.marca-img {
  text-align: center;
}

.marca-item .icons-redes li {
    display: inline-block;
}

.icons-redes {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.icons-redes li {
  padding: 5px;
}

.contacto .icons-redes i:after {
  content: '/';
  margin: 0 8px;

}

.contacto {
  padding-bottom: 0;
}

.background-fucsia {
  background-color: #ff007d;
  color: white;
  padding: 36px 0;
}

.contacto .contenedor {
  display: flex;
  justify-content: space-around;
}

.contacto-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto input:focus, .contacto textarea:focus {
  border: 2px solid #551a8b;
  outline: none;
}

.logo-img {
  text-align: center;
}

.logo-img img {
  width: 128px;
}

.contacto-detalle {
  display: inline-block;
  margin-top: 1em;
}

.contacto-detalle a {
  display: block;
  text-align: left;
  color: white;
  text-decoration: none;
  outline: 0;
}

.contacto-detalle a strong {
  margin-right: 10px;
}

.contacto-detalle a:nth-child(2) span {
  margin-left: 16px;
}

.contacto-detalle .icons-redes {
  display: block;
  padding-left: 14%;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1em;
}

.formulario label {
  margin-bottom: 5px;
}

.formulario input, .formulario textarea {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 30px;
  text-indent: 5px;
  font-size: 18px;
}

.formulario input.button {
  width: 200px;
  margin: 0 auto;
}

.formulario > p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.rights {
  background-color: #e2016f;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 1em;
}
.rights a {
  text-decoration: none;
  color: inherit;
}

.icon-close:before {
  content: "\f00d";
}

.ver-mas {
  color: #FF007D;
  padding-top: 5px;
  text-decoration: none;
}

.ver-mas i {
  vertical-align: middle;
}

.otros-proyectos {
  text-align: center;
}

.otros-proyectos .btn {
    border: 2px solid #ff007d;
    color: #ff007d;
    display: inline-block;
    padding: 8px 12px;
    line-height: 20px;
    transition: .3s;
    text-decoration: none;
}
.otros-proyectos .btn:hover {
    background-color: #ff007d;
    color: #FFF;
}

/*  -------------- Media Queries --------------  */
@media screen and (max-width: 800px) {
  .marca-item {
    margin: 0 auto;
  }
  .formulario {
    width: auto;
  }
  .portafolio-item:hover img {
    transform: none;
  }
}

@media screen and (max-width: 560px) {
  .header {
    box-shadow: none;
  }
  .header .contenedor {
    position: static;
    flex-direction: column;
  }
  .logotipo {
    margin-bottom: 0;
    display: none;
  }
  .menu {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
  .menu {
    background-color: rgba(103, 58, 183, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    transition: .3s;
  }
  .menu.active {
    left: 0;
    z-index: 2;
  }
  .menu li:after {
    display: none;
  }
  .menu li a {
    color: #FFF;
  }
  .menu-button {
    display: block;
  }
  .background {
    margin-top: -65px;
  }

  .marca-img img {
    max-width: 150px;
  }

  .contacto .contenedor {
    flex-direction: column;
  }
  .formulario {
    width: auto;
  }
  .formulario input.button {
    width: 80%;
  }

  .acerca .contenedor {
    flex-direction: column;
  }
  .foto-perfil {
    order: 2;
  }
  .foto-perfil img {
    max-width: 150px;
  }
}
